In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("adult.data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
df.info()

# clear, everything's non-null

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

1. How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [4]:
df["race"].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

2. What is the average age of men?

In [5]:
df.groupby(["sex"])["age"].mean()

sex
Female    36.858230
Male      39.433547
Name: age, dtype: float64

In [6]:
# df[df["sex"]=="Male"]["age"].mean()

round(df[df["sex"]=="Male"]["age"].mean(), 1)

39.4

3. What is the percentage of people who have a Bachelor's degree?

In [7]:
df["education"].count()

32561

In [8]:
df[df["education"]=="Bachelors"]["education"].count()

5355

In [9]:
# pct_Bachelors = (df[df["education"]=="Bachelors"]["education"].count() / df["education"].count()) * 100

pct_Bachelors = round((df[df["education"]=="Bachelors"]["education"].count() / df["education"].count()) * 
                      100, 1)
pct_Bachelors

16.4

4. What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [10]:
df[(df["education"] == "Bachelors") | (df["education"] == "Masters") | (df["education"] == "Doctorate")]["salary"].value_counts()

<=50K    4005
>50K     3486
Name: salary, dtype: int64

In [11]:
# variasi 1
df[(df["education"] == "Bachelors") & (df["salary"] == ">50K") | (df["education"] == "Masters") & (df["salary"] == ">50K") | (df["education"] == "Doctorate") & (df["salary"] == ">50K")]["salary"].value_counts()

>50K    3486
Name: salary, dtype: int64

In [12]:
# variasi 2
df[((df["education"] == "Bachelors") | (df["education"] == "Masters") | (df["education"] == "Doctorate")) & (df["salary"] == ">50K")]["salary"].value_counts()

>50K    3486
Name: salary, dtype: int64

In [13]:
df[(df["education"] == "Bachelors") | (df["education"] == "Masters") | (df["education"] == "Doctorate")]["education"].count()

7491

In [14]:
# people with lower education
adv_edu = ["Bachelors", "Masters", "Doctorate"]

# df[~df["education"].isin(adv_edu)]["education"].value_counts()
df[~df["education"].isin(adv_edu)]["education"].count()

25070

In [15]:
# people with higher education
adv_edu = ["Bachelors", "Masters", "Doctorate"]

# df[~df["education"].isin(adv_edu)]["education"].value_counts()
df[df["education"].isin(adv_edu)]["education"].count()

7491

4.1 compared to general population:

In [16]:
df["education"].count()

32561

In [17]:
pct_advEdu_generalPop = (df[((df["education"] == "Bachelors") | 
                 (df["education"] == "Masters") | 
                 (df["education"] == "Doctorate")) & 
                (df["salary"] == ">50K")]["salary"].value_counts() /
                df["education"].count()) * 100

pct_advEdu_generalPop

>50K    10.706059
Name: salary, dtype: float64

In [18]:
pct_lowEdu_generalPop = (df[(~(df["education"] == "Bachelors") | 
                 (df["education"] == "Masters") | 
                 (df["education"] == "Doctorate")) & 
                (df["salary"] == ">50K")]["salary"].value_counts() /
                df["education"].count()) * 100

pct_lowEdu_generalPop

>50K    17.259912
Name: salary, dtype: float64

In [19]:
df[df["salary"] == ">50K"]["salary"].count()

7841

In [20]:
df[(~(df["education"] == "Bachelors") | 
    (df["education"] == "Masters") |
    (df["education"] == "Doctorate")) &
   (df["salary"] == ">50K")]["salary"].count()

5620

In [21]:
adv_edu = ["Bachelors", "Masters", "Doctorate"]

round(df[(~df["education"].isin(adv_edu)) & (df["salary"] == ">50K")]["salary"].count() / df[(~df["education"].isin(adv_edu))]["salary"].count() * 100, 1)

17.4

In [22]:
df[(~df["education"].isin(adv_edu))]["salary"].count()

25070

4.2 compared to inside advanced education population

In [23]:
# pick this one

# pct_advEdu_inside = (df[((df["education"] == "Bachelors") | 
#                  (df["education"] == "Masters") | 
#                  (df["education"] == "Doctorate")) & 
#                 (df["salary"] == ">50K")]["salary"].value_counts() /
#                 df[(df["education"] == "Bachelors") | 
#                    (df["education"] == "Masters") | 
#                    (df["education"] == "Doctorate")]["salary"].count()) * 100


# this one returns category & percentage
pct_advEdu_inside = round((df[((df["education"] == "Bachelors") | 
                 (df["education"] == "Masters") | 
                 (df["education"] == "Doctorate")) & 
                (df["salary"] == ">50K")]["salary"].value_counts() /
                df[(df["education"] == "Bachelors") | 
                   (df["education"] == "Masters") | 
                   (df["education"] == "Doctorate")]["salary"].count()) * 100, 1)


# pick this one, for percentage only
pct_advEdu_inside = round((df[((df["education"] == "Bachelors") | 
                 (df["education"] == "Masters") | 
                 (df["education"] == "Doctorate")) & 
                (df["salary"] == ">50K")]["salary"].value_counts() /
                df[(df["education"] == "Bachelors") | 
                   (df["education"] == "Masters") | 
                   (df["education"] == "Doctorate")]["salary"].count()) * 100, 1)[0]

pct_advEdu_inside

46.5

5. What percentage of people without advanced education make more than 50K?

compared to general population

In [24]:
adv_edu = ["Bachelors", "Masters", "Doctorate"]

df[~df["education"].isin(adv_edu)]["salary"].value_counts()

<=50K    20715
>50K      4355
Name: salary, dtype: int64

In [25]:
df[(~df["education"].isin(adv_edu)) & (df["salary"] == ">50K")]["salary"].count()

4355

In [26]:
# pct_without_advEdu_salaryMoreThan50K = (df[(~df["education"].isin(adv_edu)) & (df["salary"] == ">50K")]["salary"].count()/
# df["education"].count()) * 100

pct_without_advEdu_salaryMoreThan50K = round((df[(~df["education"].isin(adv_edu)) & (df["salary"] == ">50K")]["salary"].count()/
df["education"].count()) * 100, 1)

pct_without_advEdu_salaryMoreThan50K

13.4

In [27]:
df[~df["education"].isin(["Bachelors", "Msters", "Doctorate"])].groupby(["education", "salary"])["salary"].count()

education     salary
10th          <=50K      871
              >50K        62
11th          <=50K     1115
              >50K        60
12th          <=50K      400
              >50K        33
1st-4th       <=50K      162
              >50K         6
5th-6th       <=50K      317
              >50K        16
7th-8th       <=50K      606
              >50K        40
9th           <=50K      487
              >50K        27
Assoc-acdm    <=50K      802
              >50K       265
Assoc-voc     <=50K     1021
              >50K       361
HS-grad       <=50K     8826
              >50K      1675
Masters       <=50K      764
              >50K       959
Preschool     <=50K       51
Prof-school   <=50K      153
              >50K       423
Some-college  <=50K     5904
              >50K      1387
Name: salary, dtype: int64

6. What is the minimum number of hours a person works per week?

In [28]:
df["hours-per-week"].min()

# df[df["hours-per-week"] == df["hours-per-week"].min()]

1

7. What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [29]:
df[df["hours-per-week"] == df["hours-per-week"].min()]["salary"].value_counts()

<=50K    18
>50K      2
Name: salary, dtype: int64

In [30]:
df[(df["hours-per-week"] == df["hours-per-week"].min()) & (df["salary"] == ">50K")]["salary"].count()

2

In [31]:
pct_minWorkHours_salMoreThan50K = (df[(df["hours-per-week"] == df["hours-per-week"].min()) & (df["salary"] == ">50K")]["salary"].count()/
df[df["hours-per-week"] == df["hours-per-week"].min()]["salary"].count()) * 100

pct_minWorkHours_salMoreThan50K

10.0

8. What country has the highest percentage of people that earn >50K and what is that percentage?

In [32]:
df[df["salary"] == ">50K"]["native-country"].unique()

array(['United-States', 'India', '?', 'South', 'Honduras', 'Canada',
       'Iran', 'Mexico', 'Cambodia', 'Thailand', 'Taiwan', 'Portugal',
       'England', 'China', 'Philippines', 'Jamaica', 'Germany', 'Japan',
       'Italy', 'Dominican-Republic', 'Cuba', 'Greece', 'Peru',
       'Guatemala', 'El-Salvador', 'France', 'Vietnam', 'Poland',
       'Puerto-Rico', 'Ireland', 'Yugoslavia', 'Columbia', 'Haiti',
       'Hong', 'Ecuador', 'Nicaragua', 'Trinadad&Tobago', 'Hungary',
       'Scotland', 'Laos'], dtype=object)

In [33]:
df[df["native-country"] == "United-States"]["salary"].count()

29170

In [34]:
country = []
for i in df[df["salary"] == ">50K"]["native-country"].unique():
    country.append(i)
    
print(country)

['United-States', 'India', '?', 'South', 'Honduras', 'Canada', 'Iran', 'Mexico', 'Cambodia', 'Thailand', 'Taiwan', 'Portugal', 'England', 'China', 'Philippines', 'Jamaica', 'Germany', 'Japan', 'Italy', 'Dominican-Republic', 'Cuba', 'Greece', 'Peru', 'Guatemala', 'El-Salvador', 'France', 'Vietnam', 'Poland', 'Puerto-Rico', 'Ireland', 'Yugoslavia', 'Columbia', 'Haiti', 'Hong', 'Ecuador', 'Nicaragua', 'Trinadad&Tobago', 'Hungary', 'Scotland', 'Laos']

In [35]:
df["native-country"].count()

32561

In [36]:
container = {}

for i in country:
    container[i] = [df[(df["salary"] == ">50K") & (df["native-country"] == i)]["salary"].count(), 
                    df[df["native-country"] == i]["salary"].count(), df[(df["salary"] == ">50K") & (df["native-country"] == i)]["salary"].count()/df[df["native-country"] == i]["salary"].count() * 100]

    
# https://www.freecodecamp.org/news/sort-dictionary-by-value-in-python/    
# return all countries, sorted by percentage
# sorted(container.items(), 
#        key = lambda item:item[1][2],
#       reverse = True)

# pick iran 
# sorted(container.items(), 
#        key = lambda item:item[1][2],
#       reverse = True)[0][0]

# pick percentage
round(sorted(container.items(), 
       key = lambda item:item[1][2],
      reverse = True)[0][1][2], 1)

# biggest percentage in Iran

41.9

In [37]:
df[(df["salary"] == ">50K") & (df["native-country"] == "United-States")]["salary"].count()

7171

In [38]:
df[df["native-country"] == "United-States"]["salary"].count()

29170

9. Identify the most popular occupation for those who earn >50K in India.

In [39]:
df[(df["native-country"] == "India") & (df["salary"] == ">50K")]["occupation"].value_counts()

Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: occupation, dtype: int64

In [40]:
df[(df["native-country"] == "India") & (df["salary"] == ">50K")]["occupation"].value_counts().index[0]

'Prof-specialty'